.Auth {
  .header {
    .auth__logotype {
      margin: 0 auto;

      @media screen and (max-width: 620px) {
        & {
          margin: 0 auto;
          width: 23rem;
        }
      }

      @media screen and (max-width: 430px) {
        & {
          margin: 0 auto;
          width: 23rem;
        }
      }
    }
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 96rem;
    min-width: 40rem;
  }
}
