.ec-project {
  padding: 1.5rem;
  margin-bottom: 1.5rem;

  &__presentation {
    display: flex;
    flex-flow: row nowrap;
  }

  &__logo {
    margin-right: 1rem;
  }

  &__image {
    width: 6rem;
    border-radius: 5rem;
  }

  &__status {
    vertical-align: .7rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: white;
    padding: .2rem .6em;
    border-radius: .5rem;

    &--active {
      background-color: hsl(120, 32%, 61%);
    }

    &--unactive {
      background-color: hsl(0, 0%, 61%);
    }
  }

  &__tecnologies {
    display: flex;
    flex-flow: row wrap;
  }

  &__info {
    padding-top: .8rem;
  }

  &__title {
    font-size: 2rem;
    margin: 0;
    padding: 0;

    a:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  &__description {
    margin-bottom: .5rem;
  }

  &__position {
    font-size: 1.4rem;
  }

  &__technology {
    color: #f3f3f4;
    margin-right: .4rem;
    margin-bottom: .5rem;
    padding: .3rem 1.2rem;
    padding-bottom: .4rem;
    border-radius: 1.6rem;
    font-size: 1.2rem;
    background: hsla(211, 45%, 45%, .8);

    .version {
      padding-left: .5rem;
    }

    &:hover {
      text-decoration: none;
      opacity: .9;
    }
  }
}
