.employees {
  margin: 0 auto;
  max-width: 96rem;
  min-width: 40rem;
  padding: 0 1rem;

  &__toolbar {
    position: relative;
    z-index: 100;
    background: white;
    margin-bottom: 1rem;
    padding: 1rem;

    .tools {
      margin-bottom: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      @media screen and (max-width: 685px) {
        flex-flow: column nowrap;
      }

      &__filtering {
        display: flex;
        flex-flow: row nowrap;

        @media screen and (max-width: 685px) {
          flex-flow: column nowrap;
        }

        .input-field {
          &:first-child {
            margin-right: 1.5rem;
          }

          &--department {
            width: 22.3rem;

            .dropdown-content.select-dropdown {
              width: 19.6rem !important;
            }

            @media screen and (max-width: 685px) {
              width: 100%;

              .dropdown-content.select-dropdown {
                width: 100% !important;
              }
            }
          }

          &--projects {
            width: 17rem;

            .dropdown-content.select-dropdown {
              width: 14.4rem !important;
            }

            @media screen and (max-width: 685px) {
              width: 100%;

              .dropdown-content.select-dropdown {
                width: 100% !important;
              }
            }
          }
        }
      }

      &__sorting {
        .input-field {
          &--sorting {
            width: 20.6rem;

            .dropdown-content.select-dropdown {
              width: 18rem !important;
            }

            @media screen and (max-width: 685px) {
              width: 100%;

              .dropdown-content.select-dropdown {
                width: 100% !important;
              }
            }
          }
        }
      }

      /* Переопределение стилей Materialize.css */
      .input-field {
        margin-bottom: 0;
        padding-left: 0;

        .select-wrapper {
          input.select-dropdown {
            font-size: 1.2rem !important;

            &:focus {
              border-bottom: .1rem solid hsl(211, 50%, 50%);
            }
          }

          & + label {
            position: absolute;
            top: -2.4rem;
            font-size: 1.2rem;
            left: 0;
          }
        }

        .dropdown-content.select-dropdown {
          top: .8rem !important;
          left: -.4rem !important;
          max-height: 17.5rem;

          li {
            min-height: 0;
            line-height: 0;

            & > span {
              font-size: 1.3rem;
              color: rgb(103, 106, 108);
              padding: .5rem .8rem;
            }
          }
        }
      }
    }
  }

  &__catalog {
    display: flex;
    flex-flow: row wrap;

    .notFound {
      margin: 2rem auto;
    }

    .card {
      &:not(:nth-child(3n)) {
        margin-right: 2%;

        @media screen and (max-width: 910px) {
          & {
            margin-right: 0;
          }
        }
      }

      &:nth-child(odd) {
        @media screen and (max-width: 910px) {
          & {
            margin-right: 2%;
          }
        }

        @media screen and (max-width: 610px) {
          & {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__pagination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

.chips {
  min-height: 1.6rem;
  margin-top: -.1rem;
  margin-bottom: .4rem;

  .autocomplete-content.dropdown-content {
    max-height: 25.6rem;
    width: 20rem !important;

    li {
      min-height: 0;
      line-height: 0;

      & > span {
        font-size: 1.3rem;
        color: rgb(103, 106, 108);
        padding: .5rem .8rem;
      }
    }
  }

  .input {
    height: 3.7rem;
    font-size: 1.4rem;
    vertical-align: -.1rem;
    color: black;
  }

  .chip {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #f3f3f4;
    background: hsla(211, 45%, 45%, .8) !important;


    &:focus {
      background: hsla(211, 30%, 30%, .8) !important;
    }

    .close {
      color: #f3f3f4;
    }

    .close {
      line-height: 2.65rem;
      font-size: 1.3rem;
      padding-left: .5rem;
    }
  }

  &.focus {
    border-bottom: .1rem solid hsl(211, 50%, 50%);
    box-shadow: none;
  }
}
