.recover {
  width: 35rem;
  margin: 0 auto;
  margin-top: 20rem;
  padding: 0 1rem;
  transform: scale(1.1);

  .form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    width: 33rem;

    &__line {
      width:  29rem;
      margin-bottom: 1.5rem;

      &--title {
        margin-bottom: 2.5rem;
      }

      &--email {
        margin-bottom: 1rem;
      }

      &--recover {
        text-align: center;
        margin-bottom: 2.5rem;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      .helper-text {
        &--offset-success {
          margin-bottom: 1.5rem;
        }
      }
    }

    &__headline {
      font-size: 2.3rem;
      text-align: center;
    }

    &__paragraph {
      font-size: 1.45rem;
    }

    &__input {
      &--recover, &--back {
        width: 14rem;
        font-size: 1.2rem;
        padding: 0;
        background-color: hsl(211, 50%, 55%);
      }
    }
  }

  /* Переопределение стилей Materialize.css */
  .input-field {
    margin: 0;

    & > label {
      &:not(.label-icon).active {
        transform: translateY(-.7rem) scale(.8);
        transform-origin: 0 0;
      }
    }
  }

  .input-field .prefix {
    font-size: 2.5rem;
    top: .4rem;
    color: hsl(211, 30%, 20%);
  }

  .input-field > label {
    top: -.6rem !important;
    font-size: 1.5rem;
  }

  .input-field input[type=text]:focus + label,
  .input-field input[type=password]:focus + label, {
    color: hsl(211, 50%, 55%) !important;
  }

  .input-field input[type=text]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 1px solid hsl(211, 50%, 55%) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  input.invalid[type=text]:not(.browser-default),
  input.invalid[type=password]:not(.browser-default) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .input-field .prefix.active {
    color: hsl(211, 50%, 55%);
  }

  [type="checkbox"] + span:not(.lever) {
    padding-left: 3.16rem !important;
    font-size: 1.4rem;
  }

  [type="checkbox"]:checked {
    + span:not(.lever):before {
      border-right: 2px solid hsl(211, 50%, 55%);
      border-bottom: 2px solid hsl(211, 50%, 55%);
    }
  }

  .input-field .prefix ~ label {
    margin-left: 3.5rem;
  }

  .input-field .prefix ~ input {
    width: calc(100% - 4rem) !important;
    margin-left: 3.4rem !important;
  }
}
