.tc-projects {
  display: flex;
  flex-flow: row wrap;

  .project {
    width: 32%;
    margin-bottom: 1.5rem;
    background-color: white;
    padding: 1rem;

    &__status {
      vertical-align: .6rem;
      margin-left: 1rem;
      font-size: 1.1rem;
      color: white;
      padding: .15rem .7em;
      border-radius: .5rem;

      &--active {
        background-color: hsl(120, 32%, 61%);
      }

      &--unactive {
        background-color: hsl(0, 0%, 61%);
      }

      @media screen and (max-width: 510px) {
        & {
          position: initial;
        }
      }
    }

    &__logo {
      margin-right: 1.2rem;

      @media screen and (max-width: 510px) {
        & {
          margin-right: 1.2rem;
          margin-top: 0;
        }
      }
    }

    &__department {
      font-size: 1.25rem;
    }

    &__manager {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 950px) {
      & {
        width: 49%;
      }
    }

    @media screen and (max-width: 690px) {
      & {
        width: 100%;
      }
    }

    &:not(:nth-child(3n)) {
      margin-right: 2%;

      @media screen and (max-width: 950px) {
        & {
          margin-right: 0;
        }
      }
    }

    &:nth-child(odd) {
      @media screen and (max-width: 950px) {
        & {
          margin-right: 2%;
        }
      }

      @media screen and (max-width: 690px) {
        & {
          margin-right: 0;
        }
      }
    }
  }
}
