.card {
  position: relative;

  &-title {
    position: absolute;
    right: .5rem;
    top: .7rem;
  }

  &.employee {
    width: 32%;
    margin-bottom: 1rem;
    background-color: white;

    @media screen and (max-width: 910px) {
      & {
        width: 49%;
      }
    }

    @media screen and (max-width: 610px) {
      & {
        width: 100%;
      }
    }

    .card-content {
      padding: 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .employee__presentation {
        width: 23%;
        text-align: center;


        .employee__image {
          width: 6.5rem;
          border-radius: 5rem;
        }

        .employee__position {
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 1.5rem;

        }
      }

      .employee__info {
        width: 73%;
        padding-top: .5rem;

        .employee__fullname {
          font-weight: 600;
          font-size: 1.5rem;
          margin-bottom: -.3rem;
        }

        .employee__department {
          font-size: 1.25rem;

          .material-icons {
            vertical-align: .1rem;
          }
        }

        h3 {
          margin: 0;
          padding: 0;
          font-size: 1.3rem;
          margin-bottom: .1rem;
          font-weight: 300;
        }

        .material-icons {
          font-size: 1.7rem;
          vertical-align: -.3rem;
          padding-right: .4rem;
        }

        .employee__contacts {
          display: flex;
          flex-flow: row wrap;
          padding-top: .7rem;

          img {
            width: 2rem;
            height:  2rem;
            margin-right: .5rem;
          }
        }
      }
    }

    .card-reveal {
      padding: 1.5rem;

      h3 {
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
        padding-bottom: 1rem;

        .material-icons {
          font-size: 1.7rem;
          vertical-align: -.3rem;
          padding-right: .3rem;
        }
      }

      .employee__projects {
        margin-bottom: .5rem;
        @extend .employee__skills;

        .project {
          @extend .skill;
          background: hsla(211, 31%, 20%, .8) !important;
        }
      }

      .employee__skills {
        display: flex;
        flex-flow: row wrap;

        .skill {
          color: #f3f3f4;
          margin-right: .4rem;
          margin-bottom: .5rem;
          padding: .15rem 1.2rem;
          border-radius: 1.6rem;
          font-size: 1.2rem;
          background: hsla(211, 45%, 45%, .8);

          &:hover {
            text-decoration: none;
            opacity: .9;
          }
        }
      }
    }
  }
}
