.pagination {
  @media only screen and (max-width: 992px) {
    & {
      width: initial;
    }
  }

  li {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: .5rem;
    }

    &.active {
      background: hsla(211, 31%, 20%, .8);
    }
  }

  .material-icons {
    vertical-align: -.55rem;
  }
}
