.header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: .2rem;
  background: hsl(211, 31%, 20%);
  z-index: 99999;
  color: #f3f3f4;

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 96rem;
    min-width: 40rem;

    @media screen and (max-width: 430px) {
      & {
        align-items: center;
        flex-direction: column;
      }
    }

    .logotype {
      overflow: hidden;
      margin-right: 2rem;
      width: 23rem;

      &__image {
        width: 23rem;
      }

      @media screen and (max-width: 620px) {
        & {
          width: 4rem;
          margin-right: 1rem;
        }
      }

      @media screen and (max-width: 430px) {
        & {
          width: 23rem;
          margin-right: 0;
        }
      }
    }

    .nav-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      min-width: calc(100% - 25rem);

      @media screen and (max-width: 430px) {
        & {
          justify-content: center;
          margin-top: -.25rem;
          min-width: 100%;
        }
      }

      @media screen and (max-width: 620px) {
        & {
          min-width: calc(100% - 5rem);
        }
      }
    }

    .nav {
      display: flex;
      list-style-type: none;

      &__item {
        user-select: none;
        margin-right: 1.25rem;
      }

      &__link {
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin-top: .8rem;
        padding-bottom: .6rem;
        color: #f3f3f4;
        line-height: 1.6rem;
        text-decoration: none;

        &:before, &:after {
          content: '';
          position: absolute;
          transition: transform .2s ease-out;
        }

        &:before {
          left: 0;
          bottom: 0;
          width: 100%;
          height: .1rem;
          background: darken(hsl(211, 50%, 50%), 10%);
          transform: translateX(-101%);
        }

        &:hover:before {
          transform: translateX(0);
        }

        &--active {
          &:before {
            background: darken(#D7DBE0, 10%);
            transform:  translateX(0);
          }
        }
      }
    }

    .profile-link {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-bottom: .5rem;
      cursor: pointer;

      @media screen and (max-width: 430px) {
        & {
          position: relative;
          left: 2.5rem;
        }
      }

      &__username {
        margin-right: 1rem;

        @media screen and (max-width: 768px) {
          & {
              display: none;
          }
        }
      }

      &__image {
        height: 3rem;
        width: 3rem;
        border-radius: 2rem;
        margin-right: .4rem;
      }

      &__dropDownBtn {
        font-size: 1.2rem;
        margin-top: .2rem;
        user-select: none;
        color: #f3f3f4;
      }
    }
  }
}
