.technologies {
  margin: 0 auto;
  max-width: 96rem;
  min-width: 40rem;
  padding: 0 1rem;

  &__toolbar {
    position: relative;
    z-index: 100;
    background: white;
    margin-bottom: 1.2rem;
    padding: .2rem 1rem;
    padding-top: .8rem;

    .tools {
      margin-bottom: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      &__filtering {
        .input-field {
          & > label {
            top: -.7rem !important;
            font-size: 1.33rem;

            &:not(.label-icon).active {
              transform: translateY(-.4rem) scale(.9);
            }
          }
        }

        .input-field input[type=text]:focus {
          border-bottom: 1px solid hsl(211, 50%, 55%) !important;
          box-shadow: none !important;
        }

        .input-field .prefix.active {
          color: hsl(211, 50%, 55%);
        }

        .input-field .prefix ~ input {
          margin-left: 3rem !important;
          font-size: 1.3rem;
        }

        .input-field {
          &--technologies {
            width: 21.7rem;

            .autocomplete-content.dropdown-content {
              width: 18.9rem !important;
            }

            @media screen and (max-width: 685px) {
              width: 17rem;

              .autocomplete-content.dropdown-content {
                width: 14.2rem !important;
              }
            }
          }
        }
      }

      &__sorting {
        .input-field {
          &--sorting {
            width: 21.7rem;

            .dropdown-content.select-dropdown {
              width: 19.1rem !important;
            }

            @media screen and (max-width: 685px) {
              width: 17rem;

              .dropdown-content.select-dropdown {
                width: 14.4rem !important;
              }
            }
          }
        }
      }

      /* Переопределение стилей Materialize.css */
      .input-field {
        margin-bottom: 0;
        padding-left: 0;

        .select-wrapper {
          input.select-dropdown {
            font-size: 1.2rem !important;

            &:focus {
              border-bottom: .1rem solid hsl(211, 50%, 50%);
            }
          }

          & + label {
            position: absolute;
            top: -2.4rem;
            font-size: 1.2rem;
            left: 0;
          }
        }

        .dropdown-content.select-dropdown {
          top: .8rem !important;
          left: -.4rem !important;
          max-height: 17.5rem;

          li {
            min-height: 0;
            line-height: 0;

            & > span {
              font-size: 1.3rem;
              color: rgb(103, 106, 108);
              padding: .5rem .8rem;
            }
          }
        }

        .autocomplete-content.dropdown-content {
          top: 3rem !important;
          left: -.25rem !important;
          max-height: 25.6rem;

          li {
            min-height: 0;
            line-height: 0;

            & > span {
              font-size: 1.3rem;
              color: rgb(103, 106, 108);
              padding: .5rem .8rem;
            }
          }
        }
      }
    }
  }

  &__catalog {
    display: flex;
    flex-flow: row wrap;

    .notFound {
      margin: 2rem auto;
    }
  }

  &__pagination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
