.rating {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &--disabled {
    pointer-events: none;
  }

  &:not(:checked) {
    label {
      cursor:pointer;
      width: 2.5rem;
      padding:0 .1rem;
      font-size: 2rem;
      color:#ddd;
      text-shadow: .1rem .1rem .2rem #bbb, 0 0 .1rem rgba(0,0,0,.5);

      &:hover {
        color: #ea0;
        text-shadow: .1rem .1rem .2rem #B57340, 0 0 .1rem rgba(0,0,0,.5);

        & ~ label {
          color: #ea0;
          text-shadow: .1rem .1rem .2rem #B57340, 0 0 .1rem rgba(0,0,0,.5);
        }
      }

      &:before {
        content: '★ ';
      }
    }

    //input:checked ~ label {
    //  color: hsl(51, 100%, 55%);
    //  text-shadow: .1rem .1rem .2rem hsl(51, 100%, 20%), 0 0 .1rem rgba(0,0,0,.5);
    //}
    //
    //input.--manager-degree:checked ~ label {
    //  color: hsl(211, 50%, 55%);
    //  text-shadow: .1rem .1rem .2rem hsl(211, 50%, 20%), 0 0 .1rem rgba(0,0,0,.5);
    //}

    input:checked ~ label.--employee-degree {
      color: hsl(51, 100%, 55%);
      text-shadow: .1rem .1rem .2rem hsl(51, 100%, 20%), 0 0 .1rem rgba(0,0,0,.5);
    }

    input ~ label.--manager-degree {
      color: hsl(211, 50%, 55%);
      text-shadow: .1rem .1rem .2rem hsl(211, 50%, 20%), 0 0 .1rem rgba(0,0,0,.5);
    }

    input:checked + label:hover,
    input:checked + label:hover ~ label,
    input:checked ~ label:hover,
    input:checked ~ label:hover ~ label,
    label:hover ~ input:checked ~ label {
      color: #ea0;
      text-shadow: .1rem .1rem .2rem #B57340, 0 0 .1rem rgba(0,0,0,.5);
    }

    label:active {
      position: relative;
      top: .2rem;
      left: .2rem;
    }
  }
}
